.body{
	background: rgb(33,84,103);
	background: linear-gradient(141deg, rgba(33,84,103,1) 0%, rgba(96,36,180,1) 100%);
	display: auto;
	margin: auto;
}

	#entete{
		background-color : yellow;
		
	}

		#bouton{ /* Bouton pour l'affichage téléphone */
			background-color : red;
			float : left;
			
		}

		#logo{
			background-color : orange;
			width : 100px;
			float : left;

		}

		#liensNav{ /*Liens de navigation entre les pages*/
			background-color : pink;
			float : left;
			width : 150px
			
		}
		
		#complement{
			clear : both;
		}
		
	#corps{
		background-color : green;
		height : 500px;
		
	}
		#titre{/* Titre de l'article */
			background-color : grey;
			width : 100%;
		}
		
		#lateral{ /* Menu de navigation latéral */
			background-color : blue;
			width : 25%;
			float : left;
			
		}
		
		#corpsTexte{
			background-color : purple;
			width : 75%;
			float : left;
			
		}
		
	#piedPage{
		background-color : brown;
		
	}