/*A FAIRE :
	
	Ajouter la barre de titre et le fil d'arianne
	Dimensioner correctement les div
	Corriger les marges/padding des titres et du texte (article et navbar)
	Ajouter la navbar superieure
	Ajouter les ancres à la navbar latérale
	
	...pour aller plus loin :
	Faire disparaître la navbar en responsive design
	Rendre la complétition de la navbar latérale automatique

*/

/*GENERAL*/
	*{
	margin : auto ;
	padding: 0 ;
	box-sizing : border-box;
	}
	
	body{
	font-family:"Segoe UI", sans-serif;
	font-size: 15px;
	max-width : 1000px;
	background-color : black;
	height : 100%;
	}
	
	/*TEXTE*/
	
	p{
	text-align : justify;
	}
	
	.sous-titre{
	font-size: 14px;
	font-style : italic; 
	}
	
	/*TITRES*/
	
	/*Aspect*/
	h1, h2, h3, h4{
	font-family : "Times New Roman";
	}
	
	h2{
	font-size : 25px;
	text-decoration : underline 1.5px;	
	}
	
	h3{
	font-size: 22px;
	}
	
	h4{
	font-size : 19px;
	}
	
	/*Numérotation des titres*/
	
	h2:before{
	}
		
	h3:before{
		content :counter(h3, upper-roman) " / ";
	}
		
	h4:before{
		content :counter(h4) " - ";
	}	
	
	/*Compteurs de numérotation des titres*/
	h2{
	counter-reset : h3 h4;
	counter-increment : h2;
	}
	
	h3{
	counter-reset : h4;
	counter-increment : h3;
	}
	
	h4{
	counter-increment : h4;
	}

/*BANDEAU TITRE*/

	#bandeauTitre{
	min-height: 100px;
	background-color : #f0f0f0;
	border-bottom : solid black 3px;
	}
	
	#titrePage{
	font-size: 30px;
	padding-left : 150px;
	text-align : center;
	}
	
	ul li{
	display : inline;
	vertical-align : bottom;
	}
	
	ul li a:after{
	content : " > ";
	}

/*VOLET*/
	
	#volet {
	/*Reset des numérotations de titres*/
	counter-reset : h2 h3 h4;
	
	/*paramètres graphiques*/
	color : white;
	
	padding:15px;
	padding-top: 35px;
	margin-right : 25px;
	
	background-color: #386890;
	
	float:left;
	width : 250px;
	height : 100%
	}
	
	/*Titres*/
	
	
/*ARTICLE*/
	
	#article, #texte, #volet{
		height : 100%;
	}
	#texte{
	/*Reset des numérotations de titres*/
	counter-reset : h2 h3 h4;
	
	/*paramètres graphiques*/
	padding:35px;
	background-color: #faf0e6;
	width : 100%;
	}
	
	/*MISES EN VALEUR*/
	em{
	color : #e66600 
	}
	
	a{
	color : #0581b2;
	}
	
	
	strong{
	color : #e66600 
	}
	
	/*TITRES*/
	
	h2{/*titre d'article*/
	padding-left : 30px;
	margin-top : 20px;
	margin-bottom : 20px;
	
	
	
	}
	
	h3{/*titre d'axe*/
	padding-left : 60px;
	margin-top : 15px ;
	margin-bottom : 15px;
	
	}
	
	h4{/*titre de sous axe*/
	padding-left : 90px;
	margin-top : 10px;
	margin-bottom : 10px;
	
	}
