*{
	margin : 0 ;
	padding: 0 ;
}
body{
	font-family:"Segoe UI", sans-serif;
}

.volet {
	padding:15px;
	padding-top: 35px;
	border : 0.5px solid  gray;
	background-color: #E6E2FF;
	float:left;
	height:100%;
	width:20%;
}
ol{
	padding-left:50px;
}

.texte{
	padding:35px;
	background-color: white;
	float:left;
	width: auto;
}
