/*GENERAL*/
	*{
	margin : auto ;
	padding: 0 ;
	box-sizing : border-box;
	}
	
	body{
	font-family:"Segoe UI", sans-serif;
	font-size: 15px;
	max-width : 1000px;
	background-color : black;
	}
	
	h1, h2, h3, h4{
	font-family : "Times New Roman";
	}
	
	p{
	text-align : justify;
	}

	
	.sous-titre{
	font-size: 14px;
	font-style : italic; 
	}
	
	h2{/*titre d'article*/
	margin-left : 20px;
	margin-top : 10px;
	margin-bottom : 10px;
	
	font-size : 25px;
	text-decoration : underline 2px;
	
	}
	
	h3{/*titre d'axe*/
	margin-left : 30px;
	margin-top : 7px ;
	margin-bottom : 7px;
	
	font-size: 22px;
	
	
	}
	
	h4{/*titre de sous axe*/
	margin-left : 40px;
	margin-top : 5px;
	margin-bottom : 5px;
	
	font-size: 19px;
	font-style : italic;
	
	
	}

/*VOLET*/
	
	#volet {
	color : white;
	
	padding:15px;
	padding-top: 35px;
	border-right : 2px solid  gray;
	border-bottom : 2px solid  gray;
	border-top : 2px solid  gray;
	
	background-color: #386890;
	
	float:left;
	
	/*
	Petite galère à trouver comment faire ceci : un bloc de 250px pour le volet
	et la page de texte qui s'adapte a la taille globale, avec le volet qui disparaît
	sur telephone
	
	Problème également pour que la zone de l'article s'étende à toute la page visible
	*/
	height:100%;
	width : 250px;
	}

	#titreVolet{
	font-size: 30px;
	border-bottom : 2px solid white;
	}
	
	/*Titres cliquables*/
		
		/*
		Problème : les numeros ne sont pas inclus dans les écarts
		du texte
		De plus, les écarts entre les listes et les sous-listes ne
		s'accumulent pas automatiquement (par opposision à l'exemple
		en dessous)
		
			I/liste
				1)sous liste
				2)sous liste
				3)sous liste
			II/liste
				1)sous liste
		*/
		
		ol{
		margin-left : 15px;
		list-style-type: none;
		}
		
		ol ol{
		list-style-type: upper-roman;
		}
		
		ol ol ol{
		list-style-type: decimal;
		}
		
		ol h1,ol h2, ol h3, ol h4{
		margin-left : 0px;
		}
		
		
	
/*ARTICLE*/

	#texte{
	padding:35px;
	background-color: #faf0e6;
	float:left;
	/*
	Petite galère à trouver comment faire ceci : un bloc de 250px pour le volet
	et la page de texte qui s'adapte a la taille globale, avec le volet qui disparaît
	sur telephone
	
	Problème également pour que la zone de l'article s'étende à toute la page visible
	*/
	width: available;
	}
	
	em{
	color : #e66600 
	}
	
	a{
	color : #0581b2;
	}
	
	
	strong{
	color : #e66600 
	}
